:root {
  /* size */
  --h1-size: 4rem;
  --h2-size: 3rem;
  --text-navbar-size: 1.4rem;
  --title-size: 2.2rem;
  --header-size: 1.375rem;
  --text-size: 1.6rem;
  --search-size: 1.5rem;
  --size-s: 1.2rem;

  /* color */
  --light-color: #ff6433;
  --dark-color: #f63f2d;
  --white-color: #fff;
  --white-opacity: rgba(255, 255, 255, 0.9);
  --text-color: #555;
  --text-black: #000;

  /* font weight */
  --title-weight: 550;
  --text-weight: 400;
  --s-weight: 370;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.btn-opacity {
  color: var(white-opacity);
  min-width: 200px;
  padding: 12px 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
}

.btn-opacity:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--light-color);
}

.btn-primary {
  background-image: linear-gradient(var(--dark-color), var(--light-color));
  min-width: 60px;
  padding: 10px 0;
  border: none;
  outline: none;
  color: var(--white-color);
  border-radius: 2px;
}

.btn-primary:hover {
  cursor: pointer;
  opacity: 0.9;
}

@keyframes growth {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
